Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
name = 'hello'

In [3]:
l= [1,2,3,"Pulkit","Hello World!"]

In [5]:
a= float(10)

In [6]:
t=(1,2,3,4,5,6, "Pulkit", "Mohan")

In [7]:
type(name)

str

In [8]:
type(l)

list

In [9]:
type(a)

float

In [11]:
type(t)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [17]:
var4 = 1
type(var4)

int

In [19]:
var1= ""
type(var1)

str

In [20]:
var2=[DS,ML,Python]
type(var2)

NameError: name 'DS' is not defined

In [22]:
var3=['DS','ML','Python']
type(var3)

list

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) / : This is divison operator. It is used to find the result of division of 2 numbers.

In [23]:
a= 10
b=5
div=a/b
print(div)

2.0

(ii) % : This is remainder operator. It is used to find the result of remainder of a division problem.

In [24]:
mod=a%b
print(mod)

0

(iii) // : This is floor divison operator. It is used to to divide two numbers and get the result in which the quotient is rounded down to the nearest integer values.

In [25]:
a=11
b=4
c=a//b
print(c)

2

(iv) ** : This is exponentiation operator. It is used to find the power of the given number.

In [26]:
a=4
print(a**3)

64

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [35]:
l1=[1,2,3,"Pulkit",2.5,(1,2,3),{"Pulkit"},(1,2,3,"Mohan"),9,10]
for i in l1:
    print(i       , type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
Pulkit <class 'str'>
2.5 <class 'float'>
(1, 2, 3) <class 'tuple'>
{'Pulkit'} <class 'set'>
(1, 2, 3, 'Mohan') <class 'tuple'>
9 <class 'int'>
10 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [2]:
a=int(input("Enter the number you want to check: "))
b=int(input("Enter the number you want to check by: "))
c=0
while a%b==0:
    a=a/b
    c+=1
print("Yes! given number is completly divisible by ",b  )
print("It is divisible ", c , "times")

Enter the number you want to check:  100
Enter the number you want to check by:  5

Yes! given number is completly divisible by  5
It is divisible  2 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [13]:
l= []
for i in range(1,26):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [15]:
for i in l:
    if i%3==0:
        print(i," is divisible by 3")
    else:
        print(i," is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
Ans. Mutable: These are the type of data which can be changed after its created.
     Immutable: These are the type of data which cannot be changed after its created.
     For example:-

In [17]:
l2=["ankit","pulkit","sharma","mohan"]
l2[1]= "mohan"
print(l2)

['ankit', 'mohan', 'sharma', 'mohan']

The above example is a mutable data type.

In [20]:
l3=("ankit","pulkit","sharma","mohan")
l3.append("mohannn")
print(l2)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
Tuples are immutable.